*{
    box-sizing: border-box;
}
html{
    font-size: 16px;
    font-family: 'Kanit', sans-serif;
}
a{
    text-decoration: none;
    color: black;
    font-style: italic;
}
#song_card{
    display: grid;
    grid-template-columns: 25% 50%;
}
.side_number{
    grid-template-columns: 5% auto;
}
.album_song{
    grid-template-columns: 50% auto;
}
#search_comp{
    grid-template-columns: 10% 70% auto;
}
button{
    font-family: "Kanit", sans-serif;
}
a:hover{
    font-style: italic;
    font-size: larger;
}
body{
    padding:0.5rem;
}
@media screen and (max-width: 768px) {
    html{
        font-size: 12px;
    }
    #song_card{
        grid-template-columns: auto;
    }
    .side_number{
        grid-template-columns: 10% auto;
    }
    .album_song{
        grid-template-columns: 75% auto;
    }
    #search_comp{
        grid-template-columns: 20% 60% auto;
    }
} 