*{
    box-sizing: border-box;
}
html{
    font-size: 16px;
    font-family: 'Kanit', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
button{
    font-family: "Kanit", sans-serif;
}
a:hover{
    font-style: italic;
    font-size: larger;
}
body{
    padding:0.5rem;
}
@media screen and (max-width: 768px) {
    html{
        font-size: 10px;
    }
    
}