*{
    box-sizing: border-box;
}
html{
    font-size: 16px;
    font-family: 'Kanit', sans-serif;
}
.grid{
    display: grid
}
#root{
    display: grid;
}
.artiste_header{
    display: grid;
    grid-template-columns: 25% 50%;
}
a{
    text-decoration: none;
    color: black;
    font-style: italic;
}
#song_card{
    display: grid;
    grid-template-columns: 25% 50%;
    gap: 0.5rem;
}
.artist_albums{
    grid-template-columns: auto auto auto auto auto;
}

.buttonHaus > button{
    color: white;
    background-color: #1DB954;
    padding: 0.5rem;
    font-size: 1.5rem;
    border-radius: 1.5rem;
    width: 10rem;
    margin: 0 0.5rem;
    border: none;
    outline: none;
}

h2{
    margin: 1rem 0;
}

.side_number{
    grid-template-columns: 5% auto;
}
#song_title{
    font-size: 1.5rem;
}
#artistName{
    font-size: 1rem;
}
.album_song{
    grid-template-columns: 50% 40%;
}
#search_comp{
    grid-template-columns: 10% 70% auto;
}
button{
    font-family: "Kanit", sans-serif;
}
a:hover{
    font-style: italic;
}
#five_cols{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 1rem;
    width: 100%;
    justify-self: center;
}
.artistPhoto{
    max-height: 12.5rem;
}
.albumTitle{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
#play_monitor{
    appearance: none;
    background-color: transparent;

}
#play_monitor::-webkit-slider-runnable-track{
    background-color: #1DB954;
    opacity:0.75;
    height: 0.5rem;
    border-radius: 0.5rem;
    position: relative;
}
#play_monitor::-webkit-slider-thumb{
    appearance: none;
    position: relative;
    background-color: gray;
    border: white;
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
    top: 50%;
    translate: 0 -50%;
    margin: 0 0.25rem;
}

#player{
    grid-template-columns: 60% 5%;
    align-items: center;
}
.playlist_img{
    width: 75%;
}
#playback_monitor_container{
    width: 65%
}
.header_links{
    display: block;
    margin: 0.5rem 0;
    text-align: left;
}
.header_link_container{
    display: grid;
    grid-template-columns: 20% auto;
    align-items: center;
}

@media screen and (max-width: 768px) {
    html{
        font-size: 12px;
    }
    .listening_device{
        margin-right: 1.5rem;
    }
    #song_card, .artiste_header{
        grid-template-columns: auto;
    }
    .song_container{
        justify-content: center;
    }
    .song_container img{
        width: 90%;
    }
    .side_number{
        grid-template-columns: 10% auto;
    }
    .album_song{
        grid-template-columns: 75% auto;
    }
    #search_comp{
        grid-template-columns: 20% 60% auto;
    }
    .artist_albums{
        grid-template-columns: auto auto ;
    }
    #song_title{
        font-size: 1rem;
    }
    #artistName{font-size: 0.75rem}
    #five_cols{
        grid-template-columns: auto auto auto;
        gap: 0.375rem;
    }
    .artistPhoto{
        max-height: 7.5rem;
    }
    .albumTitle{
        max-width: 7.5rem;
    }
    #np_wrapper{
        display: grid;
        justify-items: center;
        justify-content: center;
    }
    .buttonHaus > button{
        border-radius: 0.75rem;
        width: 7.5rem;
        margin: 0.5rem 0.25rem;
        border: none;
        outline: none;
    }
    #player{
        grid-template-columns: 70% 15%;
        justify-items: center;
        justify-content: center;
    }
    #playback_monitor_container{
        width: 100%;
    }
    .playlist_img{
        width: 90%
    }
} 